body { background: #bcd1df; }
.card { border: 0; border-radius: 14px; box-shadow: 0 6px 18px rgba(0,0,0,.06); 
background-color: #cbe2f1;}
.navbar { box-shadow: 0 6px 18px rgba(0,0,0,.08); }
.table { background: rgb(253, 252, 252); }
.badge { font-size: .85rem; }

